
<hr>
<h2>Comments about my work</h2>

<div class="comments">
  Addison Mincham
  Brillaint
  AddisonMay 27, 2018

  Addison Mincham
  Brilliant, couldnt reccommend more for any job that you have. INformative, and quick to respond :)
  AddisonMay 3, 2018

  Ash Aleshi
  Omar is an exceptional programmer and developer with a multitude of skills. Omar helped me build from scratch a blockchain prototype in less than a week by coding the logic in Python, setting up a docker environment and working with Hyperledger Sawtooth. He was quick to provide updates and message throughout the entire process. Highly recommend!
  AshMar 15, 2018

  Mike Weiksner
  A couple of unanticipated bumps, but we worked through them. Patient and thorough. Recommended.
  MikeJan 20, 2018

  Mike Weiksner
  Excellent communication. Built a solid web scraper that I can easily extend. Recommended.
  MikeJan 16, 2018

  Daniel Sislo
  Helped me figure out some code and answered my questions about how it worked. Even delivered the code in multiple formats to help with understanding.
  DanielMay 23, 2017

  Ryan Wu
  Omar is very professional and trustworthy. All codes provided were clear and well-justified. Finished the job on time. Will definitely recommend to all
  RyanApr 20, 2017

  Vaibhav Bhutoria
  Excellent! Very knowledgeable. Good suggestions.
  VaibhavDec 14, 2016

  Aymon Fournier
  I had a 4 model CRUD project in Django and wanted it rewritten in Angular2 + Django. - The code is clear and concise - Commits are broken into easy understand segments - He is a good communicator - He took liberties with the design of the comment system that I really enjoyed. Overall great experience! Will hire again in the future.
  AymonNov 19, 2016

  Jane
  He is brilliant in terms of solving problems.
  JaneOct 9, 2016

  Jane
  Glad that he is able to provide solution to the problem instantly.
  JaneOct 9, 2016

  Laura Coombs
  Great! Thank you!
  LauraSep 24, 2016

  Aymon Fournier
  Good teacher. Kind
  AymonSep 22, 2016

  Tuna Alize
  Omar did a greqt job of writing functions for my problem.He clarified all the points and made sure that I understood every single step of his coding.
  TunaSep 21, 2016

  John A Dole IV
  Always clear and concise. True professional.
  JohnSep 8, 2016

  John A Dole IV
  Omar was very fast and very thorough. He answered all my questions. Excellent.
  JohnSep 4, 2016

  akira wong
  Omar was well versed in the subjects and explained things well.
  akiraAug 31, 2016

  Ray Ali
  Omar is great and very thorough with explanations. Responds well to questions and can rephrase or illustrate with diagrams to make sure concept is understood.
  RayAug 27, 2016

  Jay Ladron
  He was very good explaining how to resolve my problem. I recommend him 100%!
  JayAug 18, 2016

  samsung
  Expert level advice, very helpful. Thank you again.
  samsungAug 16, 2016

  DJ
  Omar did an excellent job of both writing a functional, readable code for my problem and patiently explaining his thought process line by line. I am new to programming, and his guidance has helped me tremendously in being able to grasp fundamental concepts that were previously unclear.
  DJAug 14, 2016

  Claudia
  Omar was very thorough and went through several examples of the code in detail to show me how to find what I am looking for in a function so that I could apply the same logic on my own. He is a great teacher and very knowledgable.
  ClaudiaAug 2, 2016

  Julian Galvan
  Makes sure you know what's going on and will explain if you dont understand.
  JulianJul 12, 2016
</div>
