
<form class="contact-form" action="https://docs.google.com/forms/d/e/1FAIpQLScl1lBmwIu2RWY2dKDNL8CWJKD96wbdoVf11uIz-d8qFVFzVA/formResponse">
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="entry.1887628879" maxlength="100">
    </li>
    <li>
      <label for="email">Email</label>
      <input type="email" name="entry.1925514683" maxlength="100">
    </li>
    <li>
      <label for="message">Message</label>
      <textarea name="entry.457350485" onkeyup="auto_expand_textarea(this)" rows="1"></textarea>
    </li>
    <li>
      <input type="submit" value="Send">
    </li>
  </ul>
</form>
