
<h2>Blog Posts</h2>

<ul id="post-list">
  {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    <li>
      <a href='{{ .Permalink }}'>
        <h1>{{ .Title }}</h1>
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        {{ if .Params.image }}
          <img class="post-main-image" src="{{ .Params.image }}">
        {{ end }}
        {{ if .Site.Params.enableSummary }}
          {{ if .Site.Params.useDescriptionReplaceSummary }}
            <p>{{ .Description | plainify | truncate 200 }}</p>
          {{ else }}
            <p>{{ .Summary | plainify | truncate 200 }}</p>
          {{ end }}
        {{ end }}
        <hr>
      </a>
    </li>
  {{ end }}
</ul>
