
<hr>
<h2>Latest Publications</h2>

<div class="publication">
  <div class="publication-image">
    <a href="http://links.otrenav.com/r-programming-by-example">
      <img src="/img/content/trejo-r-programming-by-example/trejo-r-programming-by-example-2017.png">
    </a>
  </div>
  <div class="publication-text">
    <a href="http://links.otrenav.com/r-programming-by-example">
      R Programming by Example</a> book published by
    <a href="https://packtpub.com">Packt</a> (2017).
  </div>
</div>
