
<hr>
<h2>Reviews</h2>

<div class="comments">
  <p>
    <i>
      "Omar is an exceptional programmer and developer with a multitude of
      skills. He helped me build from scratch a blockchain prototype in less
      than a week. Highly recommend!"
    </i><br>
    —Ash Aleshi
  </p>
  <p>
    <i>"Omar is very professional and trustworthy. All codes provided were clear
      and well-justified. Finished the job on time. Will definitely recommend to
      all."
    </i><br>
    —Ryan Wu
  </p>
  <p>
    <b>
      See more comments about my work in my
      <a href="http://links.omartrejo.com/codementor-reviews">CodeMentor reviews</a>.
    </b>
  </p>
</div>
