
<div class="promotion">
  <div class="promotion-image">
    <a href="http://links.otrenav.com/r-programming-by-example">
      <img src="/img/content/trejo-r-programming-by-example/trejo-r-programming-by-example-2017.png">
    </a>
  </div>
  <div class="promotion-text">
    To learn more about R, take a look at my
    <a href="http://links.otrenav.com/r-programming-by-example">"R
      Programming by Example"</a> book published by
    <a href="https://packtpub.com/">Packt</a> (2017).
    In it, I show how to build three full projects for topics such as
    elections, businesses, and cryptocurrencies.
  </div>
</div>
