<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
	    <div id="wrapper">
	        {{ partial "nav.html" . }}
	        {{ partial "profile.html" . }}
            <hr>
            <h1>Archive</h1>
		    {{ range .Data.Pages.GroupByDate "2006" }}
		        <div class="archive">
			        <h3>{{ .Key }}</h3>
			        <ul>
					    {{ range .Pages }}
					        <div class="post-item">
						        <div class="post-time">
                                    {{ .Date.Format "January 2, 2006" }}
                                </div>
						        <a href="{{ .Permalink }}" class="post-link">
							        {{ .Title }}
						        </a>
					        </div>
					    {{ end }}
			        </ul>
		        </div>
		    {{ end }}
		    {{ partial "footer.html" . }}
	    </div>
	    {{ partial "js.html" . }}
    </body>
</html>
