<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div id="wrapper">
      {{ partial "nav.html" . }}
      {{ partial "profile.html" . }}
      <hr>
	  {{ if .IsHome }}
        {{ with .Site.Params.description }}
          <div id="self-description">
            {{ . | markdownify }}
          </div>
        {{ end }}
        {{ partial "contact-form.html" . }}
	  {{ end }}
      {{ partial "publications.html" . }}
      {{ partial "comments.html" . }}
      <hr>
      {{ partial "post-list.html"  . }}
      {{ partial "pagination.html" . }}
      {{ partial "footer.html"     . }}
    </div>
    {{ partial "js.html" . }}
  </body>
</html>
